.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
   box-sizing: border-box;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
               0 8px 10px 1px rgba(0, 0, 0, 0.14),
               0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-card {
//  background: white;
  text-decoration: none;
  margin-bottom:2em;
  border-radius: .5rem;
  width:49%;
  padding:0 !important;
}

.mat-card4 {
//  background: white;
  text-decoration: none;
  margin-bottom:2em;
  border-radius: .5rem;
  width:23%;
  padding:0 !important;
}

.card-warn {
  width: 94%;
  margin: 2% !important;
  padding:8px !important;
}

.mat-card-header {
// background-color: lightgray;
  //margin-bottom: 1% !important;
  padding:0 !important;
  border-radius: .5rem .5rem 0rem 0rem;
}

.mat-card-content{
  padding:5px !important;
}

div2.tooltip {   
    position: fixed; 
    pointer-events: none;
    z-index:1500;   
    text-align: center; 
    //width: 200px;    
   // height: 28px;   
    padding: 4px; 
    color:white;
    font: 10px sans-serif;    
    background: #222; 
    border: 0px;    
    border-radius: 8px; 
    text-align:left;
    }