<div class="grid-container" style="height: auto; overflow: hidden;">
  <mat-grid-list cols="8" rowHeight="4:3.2" gutterSize="10px">
    <mat-grid-tile *ngFor="let card of cards; let i = index;" [colspan]="card.cols" [rowspan]="card.rows">
      <cdk-drop-list [cdkDropListConnectedTo]="drops" [cdkDropListData]="i">
          <!-- ***************** BAR1 CARD ****************** -->
          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='bar1'" style="height: 90%;" >
            <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                <span fxFlex="95" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
            </mat-card-header>
            <mat-card-content>
              <app-category-histo></app-category-histo>
            </mat-card-content>
          </mat-card>
           <!-- ***************** NUMBER1 CARD ****************** -->
          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='number1'" style="height: 90%;" >
            <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
            </mat-card-header>
            <mat-card-content>
                <div class="header">
                  Number of connections
                </div>
                <div class="big">
                    2,000,009
                </div>
                <div class="header">
                  Number of objects
                </div>
                <div class="big">
                    81,958
                </div>
                <div class="header">
                  Number of people
                </div>
                <div class="big">
                    142
                </div>
            </mat-card-content>
          </mat-card>
          <!-- ***************** TIME1 CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='time1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-timeline style="height: 100vh;"></app-timeline>
              </mat-card-content>
            </mat-card>
            <!-- ***************** GAUGE1 CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='gauge1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <br/>
              <mat-card-content style="text-align: center;">
                  <ngx-gauge  [type]="gaugeType" 
                      [size]="200"
                      [value]=".86" 
                      [label]="gaugeLabel"  
                      [thick]="12"
                      [cap]="gaugecap"
                      [duration]="1500"
                      [min]="min"
                      [max]="max"
                      [thresholds]="thresholdConfig"
                      [append]="gaugeAppendText">
              </ngx-gauge>
              </mat-card-content>
            </mat-card>
            <!-- ***************** MAP CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='map1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-map></app-map>
              </mat-card-content>
            </mat-card>
            <!-- ***************** SANKEY CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='sankey1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-sankey></app-sankey>
              </mat-card-content>
            </mat-card>
            <!-- ***************** SANKEY CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='chord1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-chord></app-chord>
              </mat-card-content>
            </mat-card>
            <!-- ***************** WIDGET1 CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='widget1'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-widget1></app-widget1>
              </mat-card-content>
            </mat-card>
            <!-- ***************** WIDGET2 CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='widget2'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-widget2></app-widget2>
              </mat-card-content>
            </mat-card>
            <!-- ***************** WIDGET3 CARD ****************** -->
            <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='widget3'" style="height: 90%;">
              <mat-card-header style="margin-left:-20px;margin-right:-1px;">
                  <span fxFlex="99" style="margin-top:8px;">{{card.title}} </span>
                  <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                  <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content>
                  <app-widget3></app-widget3>
              </mat-card-content>
            </mat-card>
      </cdk-drop-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
