<div class="grid-container" style="height: 100vh; overflow: hidden;">
  <mat-grid-list cols="8" rowHeight="4:3" gutterSize="10px">
    <mat-grid-tile *ngFor="let card of cards; let i = index;" [colspan]="card.cols" [rowspan]="card.rows">
      <cdk-drop-list [cdkDropListConnectedTo]="drops" [cdkDropListData]="i" >
          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='number1'">
            <mat-card-header >
                <span fxFlex="95" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
            </mat-card-header>
            <mat-card-content>
              <div style="width:250px;height:350px;">
                <ngx-charts-number-card
                    class="chart-container"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    cardColor="#232837"
                    emptyColor="#1e222e"
                    [results]="number1"
                    [animations]="animations"
                    (select)="select($event)">
                  </ngx-charts-number-card>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='gauge'">
              <mat-card-header >
                <span fxFlex="95" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
              </mat-card-header>
              <mat-card-content >
                  
                <div *ngFor="let subcard of card.subcards; index as i" style="margin-bottom: 25px; padding-bottom: 10px;border-bottom: 3px solid lightgray;">

                  <div gdAreas="header header2 | content side | footer footer2" gdGap="6px" gdColumns="auto 100px"  >
                    <div gdArea="header">
                        <i class="material-icons">{{subcard.icon}}</i>&nbsp; &nbsp;{{subcard.level}}
                    </div>
                    <div gdArea="header2" style="text-align:center;">
                        &nbsp;
                    </div>
                    <div gdArea="content">
                        {{subcard.name}}<p>
                      <span class="subtext">{{subcard.subtext}}</span>
                      </p>            
                    </div>
                    <div gdArea="side">
                        <ngx-gauge  [type]="gaugeType" 
                              [size]="100"
                                  [value]="subcard.value" 
                                  [label]="gaugeLabel"  
                                  [thick]="8"
                                  [duration]="1500"
                                  [thresholds]="thresholdConfig"
                                  [append]="gaugeAppendText">
                      </ngx-gauge>
                    </div>
                    <div gdArea="footer">
                        {{subcard.date}}
                    </div>
                    <div gdArea="footer2" style="text-align:center;">
                        <button 
                            mat-flat-button color="primary">
                              <mat-icon aria-label="Side nav toggle icon">multiline_chart</mat-icon> VIEW
                         </button>
                    </div>
                  </div>

                </div>
                <div *ngIf="card.subcards?.length > 0" style="text-align:center">END</div>
              </mat-card-content>
          </mat-card>
          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='line1'">
            <mat-card-header >
                <span fxFlex="95" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-bar-vertical
                (legendLabelClick)="onLegendLabelClick($event)"
                (select)="select($event)"
                [animations]="animations"

                [gradient]="gradient"
                [legend]="legend"
                [legendPosition]="legendPosition"
                [legendTitle]="legendTitle"

                [results]="single"
                [roundDomains]="roundDomains"
                [roundEdges]="roundEdges"
                [scheme]="colorScheme"
                [schemeType]="schemeType"
                [showDataLabel]="showDataLabel"
                [showGridLines]="showGridLines"
                [showXAxisLabel]="showXAxisLabel"
                showYAxisLabel=false
                [tooltipDisabled]="tooltipDisabled"
                [trimXAxisTicks]="trimXAxisTicks"
                [trimYAxisTicks]="trimYAxisTicks"
                [view]="view"
                [xAxis]="showXAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxis]="showYAxis"
                [yAxisLabel]="yAxisLabel"
                [yScaleMax]="yScaleMax"
                class="chart-container"
                legend=false
                >
              </ngx-charts-bar-vertical>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-elevation-z8 scrollable-content" cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i" *ngIf="card.type=='time1'">
            <mat-card-header >
                <span fxFlex="95" style="margin-top:8px;">{{card.title}} </span>
                <div style="margin:8px;" matTooltip="{{card.tip}}"><i class="material-icons">info_outline</i></div>
                <div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-line-chart
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme2"
                    [schemeType]="schemeType"
                    [results]="lineData"
                    animations=true
                    legend=true
                    legendTitle="Risk"
                    legendPosition="right"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    gradient=true
                    xAxis=true
                    yAxis=true
                    showXAxisLabel=true
                    showYAxisLabel=true
                    xAxisLabel="Quarterly RIsk"
                    yAxisLabel="Risk"
                    [autoScale]="autoScale"
                    [xScaleMin]="xScaleMin"
                    [xScaleMax]="xScaleMax"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [timeline]="timeline"
                    showGridLines=true
                    rangeFillOpacity=.75
                    roundDomains=true
                    [tooltipDisabled]="tooltipDisabled"
                    trimXAxisTicks=false
                    trimYAxisTicks=false
                    maxXAxisTickLength=24
                    maxYAxisTickLength=24
                    (select)="select($event)">
                  </ngx-charts-line-chart>
            </mat-card-content>
          </mat-card>
      </cdk-drop-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
