.sensordothover {
	fill: orange;
	opacity: .7;
	stroke: #eee;
	stroke-width:.5px;
}

.sensordot {
	fill: orange;
	opacity: 1;
	stroke:#eee;
	stroke-width:.5px;
}

.country {
	fill: #ddd;
	stroke: #888;
	opacity: .8;
}

.countryhover {
	fill: #aaa;
	opacity: 1;
	stroke:#888;
}

.destdot {
	fill: steelblue;
	stroke:#eee;
	stroke-width:.5px;
	opacity:1;
}

.destdothover {
	fill:  steelblue;
	opacity: .7;
	stroke:#eee;
	stroke-width:.5px;
}

.medot {
	fill: green;
	stroke:#eee;
	stroke-width:.5px;
	opacity:1;
}

.medothover {
	fill:  green;
	opacity: .7;
	stroke:#eee;
	stroke-width:.5px;
}