.svg g.arc {
	fill: steelblue;
}

.svg g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

.svg g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;

}

