<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" opened="reason" mode="side">
    <mat-toolbar style='border-right:3px; align-items: start; padding-top:10px;margin-top:0px;'>
        <div text-align="left" style='font-size: smaller;'>
            Dashboards
            <div class="small"> Profile: {{globals.name}}</div>
        </div>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button >
          <mat-icon (click)="toggle()" style="cursor:pointer;" >close</mat-icon>
        </button>
    </mat-toolbar>
    <!--
      <button  mat-button (click)="close()" style="background-color: transparent;">
      <mat-icon>close</mat-icon>
  </button>
    -->
    <mat-nav-list>
          <mat-list-item routerLinkActive="active"> 
          <a routerLink="dashboard" class="sidenav-links"  >
            <div  style="display: flex;align-items: center;">
              <i class="material-icons">security</i>&nbsp; Scorecard
            </div>
          </a>
         </mat-list-item>
         <mat-list-item routerLinkActive="active"> 
          <a routerLink="risk" class="sidenav-links"  >
            <div  style="display: flex;align-items: center;">
              <i class="material-icons">multiline_chart</i>&nbsp; Risk Use Cases
            </div>
          </a>
         </mat-list-item>
         <mat-list-item  routerLinkActive="active"> 
          <a routerLink="main" class="sidenav-links"  >
            <div  style="display: flex;align-items: center;">
              <i class="material-icons">data_usage</i>&nbsp; Top Risk Category
            </div>
          </a>
         </mat-list-item>
         <mat-list-item *ngFor="let dashboard of globals.dashboards">
          <a routerLink="{{dashboard.route}}" class="sidenav-links"  >
            <div  style="display: flex;align-items: center;" matTooltip="{{dashboard.description}}">
              <i class="material-icons">{{dashboard.icon}}</i>&nbsp; {{dashboard.name}}
            </div>
          </a>
         </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary" style="margin-bottom: 10px;padding-left:25px;">
        <button *ngIf="!reason" 
          mat-icon-button
          (click)="toggle()"
          style="margin-right: .5rem;">
         <!--  *ngIf="isHandset$ | async "> -->
          	<mat-icon style="font-size: 36px;" aria-label="Side nav toggle icon" >chevron_right</mat-icon>
       	</button>
     	<div class="bigger"> 
      		P E R <span style="color:orange;">C</span> E P S U S
     	</div>
      <!--<div *ngIf='globals.theme == "dark-theme" ' class="paww" ></div>
      <div *ngIf='globals.theme == "default-theme" || globals.theme == "light-theme" || globals.theme == "candy-theme"' class="percepsus"></div>
      <div *ngIf='globals.theme == "coyotecreek-theme" ' class="pawb"></div> -->
      <!-- <div class="bigger"> 
          &nbsp; &nbsp; {{globals.title}} 
      </div> -->
	 	<span class="fill-remaining-space"></span>
		<button   mat-button (click)="openHelpDialog()" matTooltip="Get more help">
	    	<i class="material-icons">help_outline</i> HELP
		</button>

	    <button  mat-button matTooltip="Search for more information">
	        <i class="material-icons">search</i> SEARCH
	    </button>

	    <button mat-button [matMenuTriggerFor]="usermenu" matTooltip="These are the settings for your system">
	        <i class="material-icons">expand_more</i>  {{getInitials(globals.name)}}  
	    </button>
	    <mat-menu  #usermenu="matMenu">
	        <button mat-menu-item (click)="openDialog()">SETTINGS</button>
          <button mat-menu-item (click)="openAlertsDialog()">ALERTS</button>
	        <button mat-menu-item (click)="openAboutDialog()">ABOUT</button>
	        <button mat-menu-item>LOGOUT </button>
	    </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
