.drawer-contents{
	margin:1rem;
}

//.sidenav-contents 
//	padding:.5rem;
//}

.topleft {
	top:0;
	left:0;
}

.mat-list-item {
	border-radius: 0rem;
}

.mat-sidenav {
	width: 250px;
}


a.sidenav-links:hover {
	color:darkgray;
	outline: 0;
    box-shadow: none!important;
}

.sidenav-links[_ngcontent-c2] {
	outline: 0;
	font-size: .75rem;
}

.mat-nav-list {
	background: darkgray;
}

.sidenav-links-dark {
	font-size: .75rem;
	text-decoration: none;
	background:lightgray;
	vertical-align: middle;
	text-align:left;
	width:100% 
}
.sidenav-links-light {
	font-size: .75rem;
	text-decoration: none;
	background:#222;
	vertical-align: middle;
	text-align:left;
	width:100% 
}

.sidebar-header {
	text-align:left;
	padding: 10px;
	font-size: 1.2rem;
	color:#222;
	background-color: #dcdcdc;
	display:flex;
	min-width:10px !important;
}

.fill-remaining-space {
	flex: 1 1 auto;
}
