<mat-sidenav-container autosize hasBackdrop >

  <mat-sidenav #sidebar class="sidenav-contents" mode="push" fixedInViewport="true">
  	<mat-list>
		 <mat-list-item routerLinkActive="{{getBackground(globals.theme)}}"> 
			<a routerLink="main" class="sidenav-links" routerLinkActive="{{getBackground(globals.theme)}}" >
				<div (click)="sidebar.close()" style="display: flex;align-items: center;">
					<i class="material-icons">home</i>&nbsp; Home
				</div>
			</a>
		 </mat-list-item>
		 
	</mat-list>
  	
  </mat-sidenav>

  <mat-sidenav-container class="drawer-contents">
      	<router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container> 
