.cdk-drag-placeholder {
  opacity: 0.4;
  outline-style: dashed;
}

.cdk-drag-preview {
   box-sizing: border-box;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
               0 8px 10px 1px rgba(0, 0, 0, 0.14),
               0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

//.mat-card {
//  text-decoration: none;
//  margin-bottom:2em;
//  border-radius: .5rem;
//  width:49%;
//  padding:0 !important;
//}

.mat-card-alt {
  background: #eee;
}

.mat-card4 {
//  background: white;
  text-decoration: none;
  margin-bottom:2em;
  border-radius: .5rem;
  width:23%;
  padding:0 !important;
}

.card-warn {
  width: 92%;
  margin: 4px !important;
  padding:12px !important;
}

//.mat-card-header {
// background-color: lightgray;
  //margin-bottom: 1% !important;
//  padding:0 !important;
//  border-radius: .5rem .5rem 0rem 0rem;
//}

.mat-card-title-group {
  border-radius: .5rem .5rem 0rem 0rem;
  padding: 10px;
}

.mat-card-title {
  font-size: 1.2rem;
}

.mat-card-content{
  padding:5px !important;
}

.fill-remaining-space {
   flex: 1 1 auto;
}

.subtext {
  margin-top: 15px;
  font-size: .8rem;
}