<mat-grid-list cols="2" rowHeight="3:1">
	<mat-grid-tile style="width:90%;">
		<div cdkDropList style="width:90%;">
			<mat-list role="list" style="width:90%;">
				<mat-list-item role="listitem" cdkDrag>
					<div class="drag-handle" cdkDragHandle>[+] </div>
						Item 1
				</mat-list-item>
				  <mat-list-item role="listitem" cdkDrag>Item 2 pretty long stuff</mat-list-item>
				  <mat-list-item role="listitem" cdkDrag>Item 3 longer stuff</mat-list-item>
			</mat-list>
		</div>


</mat-grid-tile>
  <mat-grid-tile>
  	right stuff
  </mat-grid-tile>
</mat-grid-list>
