.fill-remaining-space {
	flex: 1 1 auto;
}

.smaller {
	font-size: small;
}

.bigger {
	font-size:larger;
	font-weight:100;
}

/* .left {
	position: absolute;
	left: 0;
	top: 50%;
	z-index:1000;
} */

