<mat-card-header fxLayout="row">
	<mat-card-title>
		{{data.title}}
	</mat-card-title>
	<div fxFlex></div>
	<button  mat-button (click)="close()" style="background-color: transparent;">
    	<mat-icon>close</mat-icon>
	</button>
</mat-card-header>

<div *ngFor="let data of dataSource">
	<mat-grid-list cols="20" rowHeight="1:1">
	  <mat-grid-tile colspan="1" style="justify-content: flex-start !important ;">
	  		<i *ngIf="data.enabled" class="material-icons">radio_button_checked</i>
	  		<i *ngIf="!data.enabled" class="material-icons">radio_button_unchecked</i>
	  	</mat-grid-tile>
	  <mat-grid-tile colspan="17">
	  	<div>
	  		{{data.name}}<br>
	  		<div class="smaller">{{data.descr}}</div>
	  	</div>
	  </mat-grid-tile>
	  <mat-grid-tile colspan="2">
	  		<button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
	  			<i class="material-icons">more_horiz</i>
	  		</button>
	  		<mat-menu #menu="matMenu">
		  		<button mat-menu-item (click)="openMenu(data.position)">Edit</button>
		  		<button mat-menu-item>Delete</button>
		  		<button mat-menu-item [disabled]="!data.enabled" >Disable</button>
		  		<button mat-menu-item [disabled]="data.enabled" >Enable</button>
			</mat-menu>
	  </mat-grid-tile>
	</mat-grid-list>
</div>
