<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" cdkDropList>
	<mat-card class="mat-elevation-z4" color="primary" cdkDrag>
		<mat-card-header color="success">
			<span fxFlex="90" style="margin:8px;">Sensitive content use case</span>
			<div style="margin:8px;" matTooltip="Info about the action"><i class="material-icons">info_outline</i></div>
			<div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
		</mat-card-header>
		<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" >
		  <mat-card class="card-warn accent"  >
		  		<app-force10 #force10DirectedChartContainer></app-force10>
		  </mat-card>
		</div>
	</mat-card>

	<mat-card class="mat-elevation-z4" color="primary" cdkDrag>
		<mat-card-header color="success">
			<span fxFlex="90" style="margin:8px;">Derivative Data Use Case</span>
			<div style="margin:8px;" matTooltip="Info about the action"><i class="material-icons">info_outline</i></div>
			<div style="margin:8px;cursor: move;" cdkDragHandle><i class="material-icons blue">drag_indicator</i></div>
		</mat-card-header>
		<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" >
		  <mat-card class="card-warn accent"  >
		  		<app-tree10 #tree10Container></app-tree10>
		  </mat-card>
		</div>
	</mat-card>
</div>