<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="sev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Risk types</th>
      <td mat-cell *matCellDef="let row">
        <!-- {{row.id}} -->
        <div>
          <mat-icon matTooltip="{{globals.vIcon[sev].tip}}" style="color:steelblue;" *ngFor="let sev of row.sev">{{globals.vIcon[sev].icon}}</mat-icon>
        </div>
      </td>
    </ng-container>
<!-- {{globals.vIcon[sev].icon}} -->
    <!-- Name Column -->
    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
      <td mat-cell matTooltip="{{row.descr}}" *matCellDef="let row">{{row.summary | trim:[30, '...'] }}</td>
    </ng-container>

    <!-- score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let row">{{row.score}}</td>
    </ng-container>

    <!-- time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.time | amTimeAgo}}</td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef>More</th>
      <td mat-cell *matCellDef="let row">

        <button type="button" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openInfoDialog(row.sev,row.summary, row.descr, row.score, row.time, row.source, row.dest, row.sensors)">Details</button>
            <button mat-menu-item>Acknowledge read</button>
            <button mat-menu-item>Delete</button>
        </mat-menu>
      </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
